body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 179, 0, 0.755);
}

.container{
    max-width: 1920px;
    width: 70%;
    height: 2000px;

    .top-box{
        width: 100%;
        height: 9%;
        display: flex;
        flex-direction: row;


        .box1{
            width: 15%;
            height: 100%;
            background-color: purple;
        }
        .box2{
            width: 15%;
            height: 100%;
            background-color: blue;
        }
        .box3{
            width: 15%;
            height: 100%;
            background-color: lightblue;
        }
        .box4{
            width: 15%;
            height: 100%;
            background-color: lightgreen;
        }
        .box5{
            width: 15%;
            height: 100%;
            background-color: rgb(231, 231, 90);
        }
        .box6{
            width: 15%;
            height: 100%;
            background-color: orange;
        }
        .box7{
            width: 15%;
            height: 100%;
            background-color: red;
        }
    }
    .the-cerificate{
        width: 100%;
        height: 82%;
        background-image: url(./ok1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

}